body {
    padding: 0px;
    margin: 0px;

    background-color: #CCD7BE;
}
html{
    box-sizing: border-box;

    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif
}
*, *:before, *:after {
    box-sizing: inherit;
}
a{
    color: #466A42;
}
.header{

    margin: 10px;
    padding: 5px 20px;

    background-color: #FFFBF2;
    border-radius: 7px;

    display: grid;
    grid-template-columns: 230px auto;

}
.brand{
    grid-column-start: 1;

    font-size: 2.2rem;
    color: #466A42;
    font-weight: 300;
    line-height: normal;
    margin: auto 0;
}
.header-links{
    grid-column-start: 2;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
#user-block-button{
    font-size: 1.1rem;
    width: fit-content;
    height: 30px;
    /* background-color: #CCD7BE; */
    background: none;
    border:#CCD7BE 1px none;
    border-radius: 7px;
    margin: 0;
    padding: 0;
}
#user-block-button:active{
    color: black;
}
.user-block{
    margin: 10px;
    padding: 5px 20px;

    background-color: #FFFBF2;
    border-radius: 7px;
}
.user-block-links{
    width: 100%;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;

}
.user-block-links p{
    margin:0px;
}
.header-links .link, .user-block-links .link{
    font-size: 1.1rem;
    font-weight: 300;
    color: black;
    text-decoration: none;
}
.category-stripe{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    height:60px;
    /* width: 100%; */

    margin: 10px;
    padding: 5px 0;

    /* background-color: #FFFBF2; */
    border-radius: 7px;

    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.category, .active-category{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    width: max-content;
    white-space: nowrap;
}
.category{
    background-color: #FFFBF2;
}
.active-category{
    background-color: rgba(255, 99, 71, 0.178);
    color: black;
}

.listings-page-listings-container{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    
    padding: 10px;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px 20px;

}
.listings-page-listings-container a{
    text-decoration: none;
}
.vertical-list{
    flex-direction: column;
}
.vertical-list .listings-page-card{
    display: grid;
    grid-template-columns: 25vw auto;
    grid-template-rows: max-content max-content max-content;
}
.vertical-list .listings-page-card .listings-page-card-text{
    padding: 0 10px;

    grid-row-start: 1;
    grid-column-start: 2;
}
.vertical-list .listings-page-card .listings-page-card-image-container{
    width: auto;
    margin: auto 0;
    
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}
.vertical-list .listings-page-card .listings-page-card-image-container img{
    max-width: 20vw;
}

.vertical-list .listings-page-card .listings-page-card-text .listings-page-card-description{
    display:unset;
}
.listings-page-card{
    padding: 6px 6px 0px 6px;

    background-color: #FFFBF2;
    border-radius: 7px;
    flex-grow: 1;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto max-content;
}
.listings-page-card a{
    grid-column-start: 1;
    grid-column-end: 3;
}
.listings-page-card-description{
    padding: 0 10px;

    display: none;
}
.listings-page-card-text{
    display: flex;
    flex-direction: column;

    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: space-between;
}
.listings-page-card-image-container{
    text-align: center;
    position: relative;
    width: auto;
    margin: auto 0;
    grid-row-start: 1; 
    grid-column-start: 1;
    grid-column-end: 3;

}
.listings-page-card-image-container img{
    max-width: 300px;
    max-height: 200px;
    margin-bottom: 0;
    border-radius: 5px;
}
.listings-page-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px;
}
.listings-page-card-title{
    font-size: 1.3rem;
    text-align: center;

    grid-row-start: 2; 
}
.listings-page-card-info-line1, .listings-page-card-info-line2{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.see{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px 30px;
    width: calc(100% - 20px);
    margin: 5px 10px 10px 10px;

    background-color: #466a4226;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.remove{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;

    padding: 10px 30px;
    width: calc(100% - 20px);
    margin: 5px 10px 10px 10px;

    color: tomato;
    background-color: rgba(255, 99, 71, 0.178);
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.notifications-page-container{
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end:4;
    gap: 10px;

    padding: 10px;
}
.notifications-page-notification{
    padding: 10px;

    font-size: 1.1rem;
    background-color: #FFFBF2;
    border-radius: 7px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.notifications-page-notification p{
    margin: 3px;
}
.notifications-page-notification-datetime{
    flex-grow: 2; 
    text-align: right;
}
.green-label{
    background-color: #466a4226;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    margin-left: 20px;
    text-align: center;
    min-width: fit-content;
    vertical-align: middle;

}
.red-label{
    text-align: center;
    text-decoration: none;
    color: tomato;
    background-color: rgba(255, 99, 71, 0.178);
    padding: 10px;
    border-radius: 6px;
    margin-left: 20px;
    min-width: fit-content;
}
.notification-label{
    display: inline-block;
    background-color: rgba(255, 99, 71, 0.178);
    color: tomato;
    padding: 0 8px;
    border-radius: 15px;
}
.bid-container{
    
    padding: 10px;
    
    font-size: 1.1rem;
    background-color: #FFFBF2;
    border-radius: 7px;
    text-decoration: none;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.bid-container .green-label, .bid-container .red-label{
    margin: 0;
}
.bid-container div{
    padding: 4px 20px;
}
.page-container{
    display: grid;
    grid-template-columns: 1fr 30% 1fr;
    grid-template-rows: auto auto auto;
}
.page-title{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;

    font-size: 1rem;
    text-align: center;
}
.form-page-form{
    grid-column-start: 2;
    grid-row-start: 2;
}
.form-input{
    margin-bottom: 10px;
    padding: 7px 20px;

    width: 100%;
    height: 40px;

    border-radius: 10px;
    border: grey solid 1px;
    background-color: #FFFBF2;
    color: black;
    font-size: 1rem;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;

    -webkit-appearance:none;
}
.area{
    resize: vertical;
    min-height: 80px;
    font-size: 1rem;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif
}
textarea{
    resize: vertical;
}
label{
    font-size: 1.2rem;
    display: block;
}
.form-submit{
    margin: 20px 0px;
    padding:5px 20px;

    border-radius: 10px;
    border: grey solid 1px;
    background-color: #FFFBF2;
    font-size: 1rem;
    color: black;
}
.errorlist {
    list-style: none;
    padding: 0;
    text-align: center;
}
.form-page-tip{
    grid-row-start: 3;
    grid-column-start: 2;

    font-size: 1.2rem;
}
.no-content{
    margin-top: 20px;

    flex-grow: 1;

    text-align: center;
    font-size: 1.2rem;
}
.container-listing{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.listing-page-container{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    display: grid;
    padding: 20px;
    grid-template-columns: 40vw auto;
}
.listing-page-image-container{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    margin: 10px 0px;
}
.listing-page-image-container img{
    /* max-width: 30vw; */
    max-width: 95%;
    max-height: 70vh;
    border-radius: 10px;
}
.listing-page-text{
    grid-column-start: 2;
    grid-column-end: 3;
    /* padding: 0 20px; */
}
.listing-page-text p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.listing-page-text a{
    text-decoration: none;
}
.listing-page-comments-container{
    grid-column-start: 1;
    grid-column-end: 2;
}
.subheader{
    text-align: center;
}
.comments-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comment{
    padding: 10px;
    
    font-size: 1.1rem;
    background-color: #FFFBF2;
    border-radius: 7px;
    text-decoration: none;
}
.comment-user{
    display: inline-block;
}
.comment-datetime{
    float: right;
    font-size: 0.9rem;
}
@media screen and (max-width: 1024px) {
    .page-container{
        grid-template-columns: 1fr 50% 1fr;
    }
}
@media screen and (max-width: 643px) {
    .header{
        grid-template-columns: 100px auto;
    }
    .header-links{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap:15px 10px;
    }
    .page-container{
        grid-template-columns: 1fr 80% 1fr;
    }
    .user-block-links{
        flex-direction: column;
        align-items: flex-start;
    }
    .listing-page-container{
        grid-template-columns: 1fr;
    }
    .listing-page-image-container{
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .listing-page-text{
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
@media screen and (max-width: 414px) {
    .header{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }
    .brand{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }
    .header-links{
        /* flex-direction: row; */
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        gap:15px 10px;
        align-items: flex-start;
    }
    .header-links a{
        font-size: 0.8rem;
        margin-bottom: 10px 0px;
    }
    .category-stripe{
        gap: 5px;
    }
    .listings-page-card-image-container img{
        max-width: 200px;
    }
    .vertical-list .listings-page-card{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content max-content max-content;
    }
    .vertical-list .listings-page-card .listings-page-card-text{
        padding: 0 10px;
    
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .vertical-list .listings-page-card .listings-page-card-image-container{
        width: auto;
        margin: auto 0;
        
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .vertical-list .listings-page-card .listings-page-card-image-container img{
        max-width: 100%;
    }
    
    .vertical-list .listings-page-card .listings-page-card-text .listings-page-card-description{
        display:unset;
    }
    .see{
        grid-row-start: 3;
    }
    .remove{
        grid-row-start: 4;
    }
}