{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% if user.unread %}
            Auctions ({{user.unread}})
            {% else %}
            Auctions
            {% endif %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'auctions/css/all.css' %}">
        <link href="{% static 'auctions/css/styles.css' %}" rel="stylesheet">
        <!-- <script src="https://kit.fontawesome.com/34c08db9ed.js" crossorigin="anonymous"></script> -->
    </head>
    <script>
        function ShowUserBlock() {
            var x = document.getElementById("user-block");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <body>
        <div class="header">
            <div class="brand">Auctions</div>
            <div class="header-links">
                <a class="link" href="{% url 'index' %}"><i class="fas fa-th"></i> Active Listings</a>
                <a class="link" href="{% url 'new_listing' %}"><i class="fas fa-plus"></i> Create Listing</a>
                {% if user.is_authenticated %}
                <button id="user-block-button" onclick="ShowUserBlock()">
                    <i class="fas fa-chevron-down"></i>
                    <i class="fas fa-user"></i>
                    {% if user.unread %}
                     {{user.unread}}
                    {% endif %}
                </button>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="user-block" id="user-block" style="display: none;">
        {% else %}
        <div class="user-block" id="user-block" style="display: block;">
        {% endif %}
            <div class="user-block-links">
                {% if user.is_authenticated %}
                    <p class="link">Signed in as <strong>{{ user.username }}</strong></p>
                    <a class="link" href="{% url 'watchlist' %}">Watchlist</a>
                    <a class="link" href="{% url 'my_listings' %}">My Listings</a>
                    <a class="link" href="{% url 'my_bids' %}">My Bids</a>
                    {% if user.unread == 0 %}
                        <a class="link" href="{% url 'notifications' %}">Notifications</a>
                    {% else %}
                        <a class="link" href="{% url 'notifications' %}">Notifications <div class="notification-label">{{ user.unread }}</div></a>
                    {% endif %}
                    <a class="link" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <p class="link">Not signed in</p>
                    <a class="link" href="{% url 'login' %}">Log In</a>
                    <a class="link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>
        
        {% block body %}
        {% endblock %}
    </body>
</html>
