{% extends "auctions/layout.html" %}

{% block body %}

    <div class="page-container">
        <div class="page-title">
            <h1>Log into your account</h1>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
        </div>
        <!-- <div class="form-page-form-container"> -->
            <form class="form-page-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{next}}" />
                <label for="login-username">Username</label>
                <input autofocus id="login-username" class="form-input" type="text" name="username" placeholder="Username">
                <label for="login-password">Password</label>
                <input id="login-password" class="form-input" type="password" name="password" placeholder="Password">
                <input class="form-submit" type="submit" value="Login">
            </form>
            <div class="form-page-tip">
                Don't have an account? <a href="{% url 'register' %}">Register here.</a>
            </div>
        <!-- </div> -->
    </div>

{% endblock %}