{% extends "auctions/layout.html" %}

{% block body %}
<div class="page-container">
    <div class="page-title">
        <h1>My Bids</h1>
    </div>
    <div class="listings-page-listings-container vertical-list">
        {% for bid in bids %}
            {% if bid.listing.active %}
                <a class="bid-container" href="{% url 'listing' bid.listing.id %}">
                    {{ bid.value }} at {{ bid.listing }}
                    {% if bid == bid.listing.highest_bid %}
                    <div class="green-label">
                        Your bid is the highest bid so far
                    </div>
                    {% endif %}
                    <div class="green-label">
                        Active
                    </div>
                </a>
            {% else %}
                <a class="bid-container" href="{% url 'listing' bid.listing.id %}">
                    {{ bid.value }} at {{ bid.listing }}
                    {% if bid == bid.listing.highest_bid %}
                    <div class="green-label">
                        You won this bid
                    </div>
                    {% endif %}
                    <div class="red-label">
                        Closed
                    </div>
                </a>
            {% endif %}
        {% empty %}
            <div class="no-content">You have not placed any bids so far.</div>
        {% endfor %}
    </div>
    <!-- <p>Active Listings:</p> -->
        
</div>

{% endblock %}
