{% extends "auctions/layout.html" %}

{% block body %}
<div class="page-container">
    <div class="page-title">
        <h1>Your notifications</h1>
    </div>
    <div class="notifications-page-container">
        {% for notification in notifications %}
        <a style="text-decoration: none;" href="{% url 'notification' notification.id %}">
        <div class="notifications-page-notification">
            <!-- <div class="notifications-page-notification-text"> -->
                    <p>{{ notification.text }}</p>
                <p class="notifications-page-notification-datetime">{{ notification.datetime|date:"m.d.Y g:iA" }}</p>
                <!-- </div> -->
            </div>
        </a>
        {% empty %}
            <div class="no-content">No notifications so far</div>
        {% endfor %}
    </div>
</div>
{% endblock %}