{% extends "auctions/layout.html" %}

{% block body %}
    <div class="page-container">
        <div class="page-title">
            <h1>Create your account</h1>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
        </div>
            <form class="form-page-form" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <!-- <label for="register-username">Username</label>
                <input id="register-username" class="form-input" autofocus type="text" name="username" placeholder="Username">
                <label for="register-email">Email Address</label>
                <input id="register-email" class="form-input" type="email" name="email" placeholder="Email Address">
                <label for="register-password">Password</label>
                <input id="register-password" class="form-input" type="password" name="password" placeholder="Password"> -->
                <label for="register-confirm">Confirm Password</label>
                <input id="register-confirm" class="form-input" type="password" name="confirmation" required>
                <input class="form-submit" type="submit" value="Register">
            </form>
            <div class="form-page-tip">
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </div>
    </div>

{% endblock %}