{% extends "auctions/layout.html" %}

{% block body %}
    <div class="page-container">
        <div class="page-title">
            <h1>Watchlist</h1>
        </div>
        <div class="listings-page-listings-container vertical-list">
            {% for listing in listings %}
                <div class="listings-page-card">
                    {% include "auctions/listing_info.html" %}
                    <a href="{% url 'unwatch' listing.id %}?next={{request.get_full_path}}" class="remove">Remove from watchlist</a>
                </div>
            {% empty %}
                <p>No listings were added yet.</p>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
